# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\DEA-Programmeeropdracht\Spotitube\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
